<!doctype html>
<head>

</head>

<body>
  <div>
      Today's Rates
  </div>
  <div>
    <p>USD -> CAD: = <%=@last_rate.USDtoCAD%></p>
    <p>USD -> EUR: = <%=@last_rate.USDtoEUR%></p>
    <p>USD -> IRR: = <%=@last_rate.USDtoIRR%></p>
  </div>
</body>
